@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4" style="color: #1cac24">VCT Notepad</h1>
    <p>An online note taking web application that lets you save and remember important stuffs.</p>
</div>
