@model Notepad

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4" style="width: 70%; margin: auto">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Notepad</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control bg-dark" style="color: lightgray" disabled />
        </div>
        <div class="mb-3">
            <label>Content</label>
            <textarea rows="10" asp-for="Content" class="form-control bg-dark" style="color: lightgray" disabled></textarea>
        </div>
        <button type="submit" class="btn btn-danger mb-2 me-2" style="width:150px">Delete</button>
        <a asp-controller="Notepad" asp-action="Index" class="btn btn-secondary mb-2" style="width:150px">Cancel</a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}